Import data

In [10]:
import pandas as pd

In [11]:
INPUT_FILE = 'step_records_raw.csv'
df = pd.read_csv(INPUT_FILE)
display(df.head())
df.info()

,type,value,unit,startDate,endDate,sourceName
0,HKQuantityTypeIdentifierStepCount,45.0,count,2019-06-04 18:15:42 +0100,2019-06-04 18:20:46 +0100,“Administrator”的 iPhone
1,HKQuantityTypeIdentifierStepCount,55.0,count,2019-06-04 19:05:30 +0100,2019-06-04 19:11:30 +0100,“Administrator”的 iPhone
2,HKQuantityTypeIdentifierStepCount,509.0,count,2019-06-04 19:11:30 +0100,2019-06-04 19:16:42 +0100,“Administrator”的 iPhone
3,HKQuantityTypeIdentifierStepCount,497.0,count,2019-06-04 19:16:42 +0100,2019-06-04 19:21:54 +0100,“Administrator”的 iPhone
4,HKQuantityTypeIdentifierStepCount,258.0,count,2019-06-04 19:21:54 +0100,2019-06-04 19:27:26 +0100,“Administrator”的 iPhone

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41209 entries, 0 to 41208
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   type        41209 non-null  object
 1   value       41209 non-null  float64
 2   unit        41209 non-null  object
 3   startDate   41209 non-null  object
 4   endDate     41209 non-null  object
 5   sourceName  41209 non-null  object
dtypes: float64(1), object(5)
memory usage: 1.9+ MB

In this step, we process data, drop irrelevant column, convert data feature to their intrinsic type

In [12]:
# Drop columns type, unit and sourcename
df_col_dropped = df.drop(columns=['type', 'sourceName', 'unit'])
df_col_dropped = df_col_dropped.rename(columns={'value': 'steps'})
display(df_col_dropped.head())

   steps                  startDate                    endDate
0   45.0  2019-06-04 18:15:42 +0100  2019-06-04 18:20:46 +0100
1   55.0  2019-06-04 19:05:30 +0100  2019-06-04 19:11:30 +0100
2  509.0  2019-06-04 19:11:30 +0100  2019-06-04 19:16:42 +0100
3  497.0  2019-06-04 19:16:42 +0100  2019-06-04 19:21:54 +0100
4  258.0  2019-06-04 19:21:54 +0100  2019-06-04 19:27:26 +0100

In [13]:
# convert data type
df_col_dropped['startDate'] = pd.to_datetime(df_col_dropped['startDate'], utc=True).dt.tz_convert(None)
df_col_dropped['endDate'] = pd.to_datetime(df_col_dropped['endDate'], utc=True).dt.tz_convert(None)
display(df_col_dropped.head())

   steps           startDate             endDate
0   45.0 2019-06-04 17:15:42 2019-06-04 17:20:46
1   55.0 2019-06-04 18:05:30 2019-06-04 18:11:30
2  509.0 2019-06-04 18:11:30 2019-06-04 18:16:42
3  497.0 2019-06-04 18:16:42 2019-06-04 18:21:54
4  258.0 2019-06-04 18:21:54 2019-06-04 18:27:26

In [14]:
# Add year and month as new features
df_col_dropped['year'] = df_col_dropped['startDate'].dt.year
df_col_dropped['month'] = df_col_dropped['startDate'].dt.month
df_col_dropped['time'] = df_col_dropped['startDate'].dt.time
display(df_col_dropped.head())

   steps           startDate             endDate  year  month      time
0   45.0 2019-06-04 17:15:42 2019-06-04 17:20:46  2019      6  17:15:42
1   55.0 2019-06-04 18:05:30 2019-06-04 18:11:30  2019      6  18:05:30
2  509.0 2019-06-04 18:11:30 2019-06-04 18:16:42  2019      6  18:11:30
3  497.0 2019-06-04 18:16:42 2019-06-04 18:21:54  2019      6  18:16:42
4  258.0 2019-06-04 18:21:54 2019-06-04 18:27:26  2019      6  18:21:54

In [15]:
# Extract data from 2024-2025
df_filtered = df_col_dropped[(df_col_dropped['year'] >= 2024) & (df_col_dropped['year'] <= 2025)].reset_index()
display(df_filtered.head(10))
df_filtered.info()

,index,steps,startDate,endDate,year,month,time
0,30893,9.0,2024-01-01 02:24:55,2024-01-01 02:24:57,2024,1,02:24:55
1,30894,1244.0,2024-01-01 09:57:09,2024-01-01 10:07:10,2024,1,09:57:09
2,30895,1298.0,2024-01-01 10:07:10,2024-01-01 10:17:11,2024,1,10:07:10
3,30896,1211.0,2024-01-01 10:17:11,2024-01-01 10:27:12,2024,1,10:17:11
4,30897,1222.0,2024-01-01 10:27:12,2024-01-01 10:37:13,2024,1,10:27:12
5,30898,1237.0,2024-01-01 10:37:13,2024-01-01 10:47:14,2024,1,10:37:13
6,30899,1202.0,2024-01-01 10:47:14,2024-01-01 10:57:01,2024,1,10:47:14
7,30900,37.0,2024-01-01 10:57:35,2024-01-01 10:58:39,2024,1,10:57:35
8,30901,4.0,2024-01-01 13:38:55,2024-01-01 13:38:58,2024,1,13:38:55
9,30902,718.0,2024-01-02 08:45:20,2024-01-02 08:55:21,2024,1,08:45:20

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10316 entries, 0 to 10315
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      10316 non-null  int64
 1   steps      10316 non-null  float64
 2   startDate  10316 non-null  datetime64[ns]
 3   endDate    10316 non-null  datetime64[ns]
 4   year       10316 non-null  int32
 5   month      10316 non-null  int32
 6   time       10316 non-null  object
dtypes: datetime64[ns](2), float64(1), int32(2), int64(1), object(1)
memory usage: 483.7+ KB